   
.main-contacto {
    @extend %main-gral;
        .h4 {
            font-family: $fuente;
            text-align: center;            
            display: flex;
            justify-content: center;
            font-weight: bold;  
                         
        }
        .section-main-contacto {
            width:100%;
            justify-content: center;
            .boton-envio {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                
            }
        }
} 
.contacto {
    margin-top: 30px;
    margin-bottom: 40px;
}
.logo-what-contacto {
    width: 70px;
}
.mail-contacto {
    color: black;
    text-decoration: none;
}

