.footer {
    background-color: nth($colores, 4);
    //padding: 25px;
    font-family: $fuente;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid black;

    .logo-correo {
        width: 45px;
        position: relative;
        top: 1px;
        left: 70px;
    }
    .logo-face {
        width: 50px;
    }
    .link-insta {
        text-decoration: none;
        .logo-instagram {
             width: 45px;
        }
    }    
    .logo-twit2 {
        width: 40px;
    }
    .logo-what {
        width: 50px;
        position: relative;
        top: -10px;
        left: -75px;
    }
    .copyright {
        justify-content: center;
        border-top: 1px solid black;
        margin-top: 20px;
        background-color: nth($colores, 1);
        font-size: 16px;

    }
        
}

.nav-footer {
    font-size: 18px;
    text-align: center;
  
}
